<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重庆时时彩</title>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/cqssc.js"></script>
</head>
<body>
    <div id="ssc-data">
        <table id="ssc-table" border="1">

        </table>
    </div>
</body>
</html>