<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/Index.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
  </head>
  <body>


    <!--nav-->
    <nav id="nav">
      <ul>
        <li class="nav-choosed">个人主页</li>
        <li>课程笔记</li>
        <li>实战项目</li>
        <li>网站专区</li>
        <li>教程专区</li>
      </ul>
    </nav>

    <!--body-->
    <div id="body">
      <div id="basic-info">
        <div id="head-img">
          <img src=""/>
        </div>
      </div>
      <div id="hot-article">

      </div>
      <div id="detailed-info">

      </div>
    </div>

  </body>
</html>
