#body{
    width:100%;
    height:600px;
    margin-top:50px;
    min-width: var(--min-width);
}

#body-left{
    width:15%;
    height:100%;
    float:left;
    margin-left:2%;
}
#body-left h3{
    padding-left:5%;
    border:1px solid;
    margin-bottom:0px;
    border-bottom:0px;
}
#body-left ul{
    width:100%;
    font-weight:900;
    border:1px solid;
}
#body-left ul li{
    list-style: none;
    height:30px;
    width:100%;
    padding-left: 20%;
    font-weight:700;
    line-height:30px;
    cursor:pointer;
}
#body-left ul li:hover{
    background: gray;
    color:white;
}