<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8"/>
    <title>课程笔记</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/notes/notes.css"/>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/nav.js"></script>
    <script type="text/javascript" src="/javascripts/notes/notes.js"></script>
</head>
<body>

    <!--nav-->
    <nav id="nav">
    <ul>
        <li id="nav-home">个人主页</li>
        <li class="nav-choosed" id="nav-note">课程笔记</li>
        <li id="nav-projects">实战项目</li>
        <li id="nav-html">网站专区</li>
        <li id="nav-course">教程专区</li>
    </ul>
    </nav>
    <div id="nav-bg"></div>

    <!--book list-->
    <div id="book-list-box">
        <!--书本列表区块-->
        <ul id="book-list">
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=c9988e72903d99bf70b0d514abe7ff55" target="_blank">《计算机网络》</a>
                <div class="book-status complete">完结</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=8b63f5d224a91a03df42c485e6526d49" target="_blank">《编译原理》</a>
                <div class="book-status complete">完结</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=67ba54eb871346fadf262d496c1421a1" target="_blank">《软件工程》</a>
                <div class="book-status complete">完结</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=93564b0416af7b628652632854449084" target="_blank">《设计模式》</a>
                <div class="book-status complete">完结</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=8a47f8e98a3e89f561fb42dbcc61a0c4" target="_blank">《数据仓库》</a>
                <div class="book-status complete">完结</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=9cc4233a3e6b33db6f814c1051ca587f" target="_blank">《云计算》</a>
                <div class="book-status complete">完结</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=7ff5a4a4ec36fa1558c0c90c14aab9fc" target="_blank">《软件测试》</a>
                <div class="book-status updating">更新中</div>
            </li>
            <li>
                <img class="book-img" src="/images/notes/bookimg.png"/>
                <a class="book-name" href="http://note.youdao.com/noteshare?id=1eff4b3ffc3ac160309ab0fa0d126ff9" target="=_blank">《数据挖掘》</a>
                <div class="book-status updating">更新中</div>
            </li>
        </ul>
    </div>
</body>
</html>