<!DOCTYPE>
<html>
<head>
    <title>环形按钮</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/html/arphamenu/index.css"type="text/css" />
    <link rel="icon" sizes="196x196" href="/images/html/arphamenu/favicon.png" />
</head>
<body style="background-color:black;">
<div id="at-plus-container">
    <div id="bottom-positioner">
        <div id="button">
            <div id="info-bar">
                <div style="display:block" class="info">
                    <ul>
                        <li title="2人参与讨论" class="page_user">
                            <img src="/images/html/arphamenu/people.png">
                            <span class="page_user_num">14</span>
                        </li>
                        <li title="3条评论" class="page_comment">
                            <img src="/images/html/arphamenu/comment.png">
                            <span class="page_comment_num">20</span>
                        </li>
                        <li title="我有6条评论" class="mine_posted">
                            <img src="/images/html/arphamenu/post.png">
                            <span class="mine_posted_num">3</span>
                            <img class="mine_like_img"src="/images/html/arphamenu/like.png">
                            <span class="mine_like_num">4</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="control-ring-container">
                <ul id="control-ring">
                    <li title="蒙板" class="mask_button">
                        <img src="/images/html/arphamenu/nomask.png" />
                    </li>
                    <li title="历史记录" class="history_button">
                        <img src="/images/html/arphamenu/history.png" />
                    </li>
                    <li title="消息" class="message_button">
                        <img src="/images/html/arphamenu/message.png" />
                        <span class="unread">2</span>
                    </li>
                    <li title="设置" class="setting_button">
                        <img src="/images/html/arphamenu/setting.png" />
                    </li>
                    <li title="登录/注册" class="sign_button">
                        <img src="/images/html/arphamenu/signin.png" />
                    </li>
                </ul>
            </div>
            <div class="apb">
                <div class="icon"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>