<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/html/calculate/calculate.css" type="text/css">
    <script src="/javascripts/html/calculate/calculate.js" type="text/javascript">
    </script>
</head>
<body>
<h1>简单计算机</h1>
<div id="calculate">
    <div id="show">
        <div id="in">
        </div>
        <div id="out">
        </div>
    </div>
    <div id="oper_all">
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">7</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">8</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">9</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_oper(this)">/</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">4</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">5</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">6</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_oper(this)">*</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">1</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">2</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">3</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_oper(this)">-</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_2(this)">0</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_dot(this)">.</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="back(this)">←</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_oper(this)">+</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_count(this)">(</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="click_count(this)">)</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="clr(this)">CE</span>
        <span class="oper" onmousedown="click_1(this)" onmouseup="equal(this)">=</span>
    </div>
</div>
</body>
</html>