<!DOCTYPE>
<HTML>
<HEAD>
    <META CHARSET="UTF-8">
    <LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="/stylesheets/html/lift/dt.css">
    <LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="/stylesheets/html/lift/door.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/lift/dt.js"></script>
    <script type="text/javascript" src="/javascripts/html/lift/control.js"></script>
</HEAD>
<BODY>
<!--电梯UI，具体内容在control.js里加载-->
<ul id="container"></ul>
<!--楼层按钮UI-->
<ul id="btn"></ul>
</BODY>
</HTML>