<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/html/nav/tx_20160310.css" type="text/css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/nav/tx_20160310.js"></script>
</head>
<body>
<div id="baidu">
    <!--导航部分-start-->
    <div class="nav">
        <ul>
            <li>导航</li>
            <li class="news">新闻</li>
            <li>音乐</li>
            <li>视频</li>
        </ul>
    </div>
    <!--导航部分-end-->

    <!--内容部分-start-->
    <div class="con">
        <ul>
            <li><img src="/images/html/nav/1.jpg"/></li>
            <li style="top:0px;"><img src="/images/html/nav/2.jpg"/></li>
            <li><img src="/images/html/nav/3.jpg"/></li>
            <li><img src="/images/html/nav/4.jpg"/></li>
        </ul>
    </div>
    <!--内容部分-end-->
</div>
</body>
</html>
