<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/projectCom/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/projectCom/message.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/projectCom/choose.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/projectCom/footer.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/projectCom/projectCom.js"></script>
</head>
<body>
<!--顶部信息栏-->
<div id="header">
    <div id="logo">logo</div>
    <ul id="avg">
        <li>项目资讯</li>
        <li>学校达人</li>
        <li>精品文章</li>
    </ul>
    <form id="login">
        <a class="login_btn">登录</a>
        <a class="regist_btn">注册</a>
    </form>
    <div id="search">
        <div id="search_box">
            <div id="search_type">
                <label>找项目</label>
                <ul id="select">
                    <li>找项目</li>
                    <li>找人才</li>
                </ul>
            </div>
            <input type="text"  id="input">
            <img id="search_img" src="/images/html/projectCom/search.jpg">
        </div>
    </div>
</div>

<!--轮播图+技术贴-->
<div id="message">
    <ul id="banner">
        <li><img src="/images/html/projectCom/banner1.jpg"></li>
        <li><img src="/images/html/projectCom/banner2.jpg"></li>
    </ul>
    <ul id="num">
        <li></li>
        <li></li>
    </ul>
    <!--<div id="tecnology">技术贴</div>-->
</div>

<!--项目和会员的显示-->
<ul id="choose">
    <li>最新项目</li>
    <li>人气达人</li>
</ul>
<div id="choose_box">
    <ul id="projects">
        <li class="row">
            <ul>
                <li></li>
                <li>项目名称</li>
                <li></li>
                <li>发布时间</li>
                <li>截止时间</li>
                <li>需求人数</li>
                <li></li>
            </ul>
        </li>
    </ul>
    <ul id="hot_people">
        <li class="row">
            <ul>
                <li>头像</li>
                <li>用户名</li>
                <li>用户等级</li>
                <li>参与项目数</li>
                <li>用户积分</li>
                <li>所在学校</li>
                <li></li>
            </ul>
        </li>
    </ul>
</div>
<div id="more_info">
    查看更多
</div>
<!--网页尾部信息-->
<hr>
<div id="footer">页尾信息</div>
</body>
</html>