<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TMNT - Rancid Tomatoes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="movie.css" type="text/css" rel="stylesheet" />
    <style>
        <!--
        body{
            background-image:url(/images/html/renzheshengui/background.png);
        }
        #hpicture{
            background-image:url(/images/html/renzheshengui/bannerbackground.png);
            width:100%;
        }
        h1{text-align:center;}
        #table{
            border:1px;
            border-style:solid;
            height:1200px;
            width:80%;
            margin-left:10%;
        }
        #in_left{
            float:left;
            width:815px;
            height:1150px;
        }
        #in_right{
            background-color:#A2B964;
            width:252px;
            height:1150px;
            margin-left:815px;
        }
        #l32{
            color:red;
            font-size:70px;
            margin-bottom:2px;
            margin-left:20px;
        }
        #l88{
            margin-bottom:2px;
            color:white;
        }
        #left_head{
            background-image:url(/images/html/renzheshengui/rottenbackground.png);
            height:85px;
            background-color:green;
        }
        #img_1{
            height:85px;
            width:85px;
            float:left;
        }
        #left{
            height:1065px;
            float:left;
            width:50%;
        }
        #right{
            height:1065px;
            width:50%;
            margin-left:50%;
        }
        dt{
            font-size:14px;
            font-weight:900px;
        }
        dd{
            font-size:10px;
        }
        #right_img{
            height:400px;
            width:100%;
        }
        #dtdl{
            margin-left:1em;
            margin-top:2em;
        }
        #left_1,#left_2,#left_3,#left_4,#left_5,#right_1,#right_2,#right_3,#right_4,#right_5{
            border:1px solid;
            margin-top:2em;
            margin-left:2em;
            margin-right:1em;
            height:150px;
            widht:200px;
        }
        #left_3{
            height:90px;
        }
        #right_3{
            height:90px;
            margin-left:1em;
            margin-right:2em;
        }
        #left_4{
            height:50px;
        }
        #right_4{
            height:100px;
            margin-left:1em;
            margin-right:2em;
        }
        #left_5{
            height:110px;
        }
        #right_5{
            height:110px;
            margin-left:1em;
            margin-right:2em;
        }
        #left_2,#right_2{
            border:0px;
            margin-top:1em;
            height:40px;
        }
        #right_1{
            margin-left:1em;
            margin-right:2em;
        }
        #syt{
            float:left;
        }
        #foot{
            height:50px;
            margin-top:-1em;
            text-align:center;
            background-color:#A2B964;
        }
        -->
    </style>
</head>

<body >
<div>
    <img id="hpicture" src="/images/html/renzheshengui/banner.png" alt="Rancid Tomatoes" />
</div>
<h1>TMNT (2007)</h1>
<div id="table" >
    <div id="in_left">
        <div id="left_head">
            <div id="img_1">
                <img src="/images/html/renzheshengui/rottenbig.png" alt="Rotten" />
            </div>
            <div>
                <strong id="l32" >32%</strong>
                <label id="l88">(88 reviews total)</label>
            </div>
        </div>
        <div id="left" >
            <div id="left_1">
                <p>
                    <img id="syt" src="/images/html/renzheshengui/rotten.gif" alt="Rotten" />
                    <q>Ditching the cheeky, self-aware wink that helped to excuse the concept's inherent corniness, the movie attempts to look polished and 'cool,' but the been-there animation can't compete with the then-cutting-edge puppetry of the 1990 live-action movie.</q>
                </p>
            </div>
            <div id="left_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Peter Debruge <br />
                <i>Variety</i>
            </div>
            <div id="left_3">
                <p>
                    <img id="syt"src="/images/html/renzheshengui/fresh.gif" alt="Fresh" />
                    <q>TMNT is a fun, action-filled adventure that will satisfy longtime fans and generate a legion of new ones.</q>
                </p>
            </div>
            <div id="left_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Todd Gilchrist <br />
                <i>IGN Movies</i>
            </div>
            <div id="left_4">
                <p>
                    <img id="syt" src="/images/html/renzheshengui/rotten.gif" alt="Rotten" />
                    <q>It stinks!</q>
                </p>
            </div>
            <div id="left_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Jay Sherman (unemployed)
            </div>
            <div id="left_5">
                <p>
                    <img id="syt" src="/images/html/renzheshengui/rotten.gif" alt="Rotten" />
                    <q>The rubber suits are gone and they've been redone with fancy computer technology, but that hasn't stopped them from becoming dull.</q>
                </p>
            </div>
            <div id="left_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Joshua Tyler <br />
                <i>CinemaBlend.com</i>
            </div>
        </div>
        <div id="right">
            <div id="right_1">
                <p>
                    <img id="syt" src="/images/html/renzheshengui/rotten.gif" alt="Rotten" />
                    <q>The turtles themselves may look prettier, but are no smarter; torn irreparably from their countercultural roots, our superheroes on the half shell have been firmly co-opted by the industry their creators once sought to spoof.</q>
                </p>
            </div>
            <div id="right_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Jeannette Catsoulis <br />
                New York Times
            </div>
            <div id="right_3">
                <p>
                    <img id="syt"src="/images/html/renzheshengui/rotten.gif" alt="Fresh" />
                    <q>Impersonally animated and arbitrarily plotted, the story appears to have been made up as the filmmakers went along.</q>
                </p>
            </div>
            <div id="right_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Ed Gonzalez <br />
                <i>Slant Magazine</i>
            </div>
            <div id="right_4">
                <p>
                    <img id="syt" src="/images/html/renzheshengui/fresh.gif" alt="Rotten" />
                    <q>The striking use of image and motion allows each sequence to leave an impression. It's an accomplished restart to this franchise.</q>
                </p>
            </div>
            <div id="right_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Mark Palermo <br />
                <i>Coast (Halifax, Nova Scotia)</i>
            </div>
            <div id="right_5">
                <p>
                    <img id="syt" src="/images/html/renzheshengui/rotten.gif" alt="Rotten" />
                    <q>The script feels like it was computer generated. This mechanical presentation lacks the cheesy charm of the three live action films.</q>
                </p>
            </div>
            <div id="right_2">
                <img id="syt" src="/images/html/renzheshengui/critic.gif" alt="Critic" />
                Steve Rhodes <br />
                <i>Internet Reviews</i>
            </div>
        </div>
    </div>
    <div id="in_right">
        <div id="right_img">
            <img  src="/images/html/renzheshengui/generaloverview.png" alt="general overview" />
        </div>
        <div id="dtdl">
            <dl>
                <dt>STARRING</dt>
                <dd>Mako <br /> Sarah Michelle Gellar</dd>
                <dt>DIRECTOR</dt>
                <dd>Kevin Munroe</dd>
                <dt>RATING</dt>
                <dd>PG</dd>
                <dt>THEATRICAL RELEASE</dt>
                <dd>Mar 23, 2007</dd>
                <dt>MOVIE SYNOPSIS</dt>
                <dd>After the defeat of their old arch nemesis, The Shredder, the Turtles have grown apart as a family.</dd>
                <dt>MPAA RATING</dt>
                <dd>PG, for animated action violence, some scary cartoon images and mild language</dd>
                <dt>RELEASE COMPANY</dt>
                <dd>Warner Bros.</dd>
                <dt>GENRE</dt>
                <dd>Action/Adventure, Comedies, Childrens, Martial Arts, Superheroes, Ninjas, Animated Characters</dd>
                <dt>OFFICIAL MOVIE SITE</dt>
                <dd><a href="http://www.tmnt.com/">The Official TMNT Site</a></dd>
            </dl>
        </div>
    </div>
    <div id="foot" >
        <p >(1-8) of 88</p>
    </div>
</div>
</body>
</html>
