<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/html/showProduct3D/showProduct.css" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/showProduct3D/showProduct.js"></script>
    <title>Show Product</title>
</head>
<body>
<div id="platform">
    <img src="/images/html/showProduct3D/pic.jpg">
    <img src="/images/html/showProduct3D/pic1.jpg">
    <img src="/images/html/showProduct3D/pic2.jpg">
    <img src="/images/html/showProduct3D/pic3.jpg">
    <img src="/images/html/showProduct3D/pic4.jpg">
    <img src="/images/html/showProduct3D/pic5.jpg">
    <img src="/images/html/showProduct3D/pic6.jpg">
    <img src="/images/html/showProduct3D/pic7.jpg">
    <img src="/images/html/showProduct3D/pic8.jpg">
</div>
</body>
</html>