<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/tianmao/tx_20160320.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/tianmao/tz_fly.js"></script>
    <script type="text/javascript" src="/javascripts/html/tianmao/tx_20160320.js"></script>
</head>
<body>
<div id="banner"></div>
<div id="goods">
    <ul>
        <li>
            <img src="/images/html/tianmao/1.jpg" width="220">
            <p class="title">2016夏季新品可爱专属连衣裙</p>
            <p class="price">
                <font>￥188</font>
                <span>加入购物车</span>
            </p>
        </li>
        <li>
            <img src="/images/html/tianmao/2.jpg" width="100%">
            <p class="title">2016春装印花大摆蓬蓬连衣裙</p>
            <p class="price">
                <font>￥299</font>
                <span>加入购物车</span>
            </p>
        </li>
        <li>
            <img src="/images/html/tianmao/3.jpg"width="100%">
            <p class="title">裂帛2016夏装新款刺绣松紧腰裙子</p>
            <p class="price">
                <font>￥428</font>
                <span>加入购物车</span>
            </p>
        </li>
        <li>
            <img src="/images/html/tianmao/4.jpg" width="100%">
            <p class="title">女装韩版显瘦长袖雪纺连衣裙</p>
            <p class="price">
                <font>￥168</font>
                <span>加入购物车</span>
            </p>
        </li>
    </ul>
</div>
<div id="car">
    <div id="car_title">
        <div id="car_img">
            <img src="/images/html/tianmao/car.png">
            <label>加<br>入<br>购<br>物<br>车</label>
        </div>
    </div>
    <div id="car_con">
    </div>
</div>
</body>
</html>