<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title>有货轮播图</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/youhuo/youhuo.css"/>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/youhuo/youhuo.js"></script>
</head>
<body>
<!--滚动条-->
<div id="banner">
    <label id="right">&lt;</label>
    <label id="left">&gt;</label>
    <ul>
        <li>
            <a href=""><img src="/images/html/youhuo/banner01.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner02.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner03.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner04.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner05.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner06.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner07.jpg"></a>
        </li>
        <li>
            <a href=""><img src="/images/html/youhuo/banner08.jpg"></a>
        </li>
    </ul>
</div>
<!--导航条-->
<div id="bn">
    <ul>
        <li>
            <img src="/images/html/youhuo/bn01.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn02.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn03.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn04.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn05.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn06.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn07.jpg">
        </li>
        <li>
            <img src="/images/html/youhuo/bn08.jpg">
        </li>
    </ul>
</div>
</body>
</html>