<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游记-待完成</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/html/youji/youji.css"/>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/html/youji/youji.js"></script>
</head>
<body>
<!--header-->
<div id="header">
    <div id="logo">
        <img src="/images/html/youji/logo.jpg"/>
    </div>
    <div id="user">
        <label id="login">登录</label>
        <label id="register">注册</label>
    </div>
</div>


<!--banner-->
<div id="banner">
    <div id="banner-copy"></div>
    <ul>
        <li>
            <img class="banner-img" src="/images/html/youji/banners/banner1.jpg"/>
        </li>
        <li>
            <img class="banner-img" src="/images/html/youji/banners/banner2.jpg"/>
        </li>
        <li>
            <img class="banner-img" src="/images/html/youji/banners/banner3.jpg"/>
        </li>
        <li>
            <img class="banner-img" src="/images/html/youji/banners/banner4.jpg"/>
        </li>
        <li>
            <img class="banner-img" src="/images/html/youji/banners/banner5.jpg"/>
        </li>
    </ul>
    <div id="search-box">
        <input id="search-input" type="text" placeholder="search me!"/>
    </div>
</div>

<!--cities-->
<div id="cities-banner">
    <ul id = "cities-ul">
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/city1.jpg">
            <label class="city-name">苏梅岛</label>
        </li>
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/西藏.png">
            <label class="city-name">西藏</label>
        </li>
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/青海.jpeg">
            <label class="city-name">青海</label>
        </li>
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/芽庄.jpeg">
            <label class="city-name">芽庄</label>
        </li>
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/澳门.jpeg">
            <label class="city-name">澳门</label>
        </li>
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/珠海.jpeg">
            <label class="city-name">珠海</label>
        </li>
        <li>
            <img class="cities-banner-img" src="/images/html/youji/cities/菲律宾.jpeg">
            <label class="city-name">菲律宾</label>
        </li>

    </ul>
</div>

<!--body-->
<h1 id="body-title">
    Popular Travel
</h1>
<div id="recommended">
    <h4 id="recommended-title">Popular User</h4>
</div>
<div id = "body">
    <ul>
        <li>
            <div class="travelogue-info">
                <div class="travelogue-info-left">
                    <div class="travelogue-info-left-head">
                        <img src="/images/html/youji/heads/cdy.jpg"/>
                    </div>
                    <label class="travelogue-info-left-username">Cheng DongYi</label>
                    <label class="travelogue-info-left-time">2016.11.03</label>
                </div>
                <div class="travelogue-info-right">
                    <div class="travelogue-info-right-con">
                        <h2 class="travelogue-info-right-con-title">
                            Travel Alone
                        </h2>
                        <div class="travelogue-info-right-con-info">
                            <label class="travelogue-info-right-con-day">10~15</label>
                            <label class="travelogue-info-right-con-cost">3000~5000</label>
                        </div>
                        <p class="travelogue-info-right-con-para">
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page editors now use Lorem Ipsum as their default model text.
                        </p>
                        <div class="travelogue-info-right-con-footer">
                            <div class="travelogue-info-right-con-pos">
                                <img src="/images/html/youji/位置-4.png"/>
                                <label>Beijing</label>
                            </div>
                            <div class="travelogue-info-right-con-like">
                                <img src="/images/html/youji/心-2.png"/>
                                <label>111</label>
                            </div>
                            <div class="travelogue-info-right-con-comment">
                                <img src="/images/html/youji/评论-2.png"/>
                                <label>26</label>
                            </div>
                        </div>
                    </div>
                    <div class="travelogue-info-right-img">
                        <img src="/images/html/youji/travelImg/cdy.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>



<!--footer-->
<div id="footer">
    <div id="footer-left">
        <h1>Papa Travels</h1>
        <label>helloworld</label>
    </div>
    <div id="footer-right">
        <h3>Tongji University</h3>
        <p>4800 Cao'an Hignway,Jiading Distinct
            Shanghai 201804
        </p>
    </div>
</div>
</body>
</html>